body {
    margin: 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color:#F67280;
    background: linear-gradient(#35477D, #717cb1);
}


h1 {
    font-family: 'Faster One', cursive;
    margin-top: 0;
    
}

.top-container {
    
    position: relative;
    padding-top: 100px;

}

h2 {
    font-family: 'Bangers', cursive;
}

h3 {
    font-family: 'Bangers', cursive;
}

.middle-container {

    background-color: #6C5B7B;
}

.bottom-container {
    background-color: #C06C84;


}

.top-cloud {

    position: absolute;
    right: 300px;
    top: 50px;
}

.skyline {
    width:100%


}

.bottom-cloud {
    position: absolute;
    left: 300px;
    top: 150px;
}